<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.coding404.myweb.service.ProductMapper">
  	<insert id="productRegist" parameterType="ProductVO">
  		insert into product(prod_enddate,
  							prod_writer,
  							prod_name,
  							prod_price,
  							prod_count,
  							prod_discount,
  							prod_purchase_yn,
  							prod_content,
  							prod_comment
  							)
  		values(#{prod_enddate},
  			   #{prod_writer},
  			   #{prod_name},
  			   #{prod_price},
  			   #{prod_count},
  			   #{prod_discount},
  			   #{prod_purchase_yn},
  			   #{prod_content},
  			   #{prod_comment}
  			   )
  	</insert>
  	
  	<select id="getList" resultType="ProductVO">
  		select * 
  		from product 
  		where prod_writer = #{writer}
  		order by prod_id desc
  		limit #{cri.pageStart}, #{cri.amount}
  	</select>
  	
  	<select id="getDetail" resultType="ProductVO">
  		select * from product where prod_id = #{prod_id}
  	</select>
  	
  	<update id="productUpdate">
  		update product 
  		set prod_enddate = #{prod_enddate},
  			prod_name = #{prod_name},
			prod_price = #{prod_price},
			prod_count = #{prod_count},
			prod_discount = #{prod_discount},
			prod_purchase_yn = #{prod_purchase_yn},
			prod_content = #{prod_content},
			prod_comment = #{prod_comment}
  		where prod_id = #{prod_id} and prod_writer = #{prod_writer}
  							
  	</update>
  	
  	<delete id="productDelete">
  		delete from product where prod_id = #{prod_id}
  	</delete>
  	
  	
  </mapper>