<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	타임리프 제어문 if문 unless문에는 동일한 조건을 작성.
	<div th:with="a = 10">
		<span th:if="${a == 20}">a는 20입니다.</span>
		<span th:unless="${a == 20}">a는 20이 아닙니다.</span>		
	</div>
	
	vo의 참조
	<div th:if="${vo.first == '홍길동'}">홍길동 입니다.</div>
	<div th:unless="${vo.first == '홍길동'}">홍길동이 아닙니다.</div>
	
	<hr/>
	삼항연산자
	<div>[[${vo.first == '이순신'? '이순신' : '이순신이 아닙니다'}]]</div>
	
	<hr/>
	타임리프 반복문
	<ul>
		<li th:each="vo : ${list}">
			[[${vo.sno}]]<br/>
			[[${vo.first}]]<br/>
			[[${vo.regdate}]]<br/>
		</li>
	</ul>
	
	타임리프 반복문 status변수
	<ul>
		<li th:each="vo, status : ${list}">
			인덱스번호:[[${status.index}]]<br/>
			순서번호:[[${status.count}]]<br/>
			[[${status}]]<br/>
		</li>
	</ul>
	
	<hr/>
	타임리프 반복문과 if문
	<ul>
		<li th:each="vo : ${list}" th:if="${vo.sno % 2 == 0}">
			짝수만 출력:[[${vo.sno}]], [[${vo.first}]]
		</li>
	</ul>
	
	<hr/>
	<ul>
		<li th:each="vo : ${list}">
			<span th:if="${vo.sno % 2 == 0}">짝수</span>
		</li>
	</ul>
	
	<hr/>
	<ul>
		<li th:each="vo : ${list}">
			<span th:if="${vo.sno % 2 == 0}">짝수</span>
			<span th:unless="${vo.sno % 2 == 0}">홀수</span>
		</li>
	</ul>
	
	

</body>
</html>